$var: #FAFAFA;

body, html {
	overflow-x:hidden;
	background: $var;
	margin:0px;
	margin-top:0px !important;
	padding:0px;
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import 'contact', 'home', 'navigationbar', 'jumbotron';
