.home.container {
	width:80em;
	margin:0 auto;
	padding-top:32px;
	padding-bottom:32px;
	text-align:center;

	.header {
		font-size:26px;
		font-weight:400;
		margin-bottom:16px;
	}

	.description {
		font-size:20px;
		font-weight:400;
		margin-bottom:32px;
	}

	> section:not(:last-child) {
		margin-bottom:64px;
	}
}

#video-feature {
	.video {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.callout-wrapper {
		text-align:center;
		margin-top:16px;

		.callouts {
			margin-top:12px;
			margin-bottom:24px;

			.label {
				font-size:20px;
			}

			.callout-pill-wrapper {
				display:inline-block;
				text-decoration:none;
				text-transform:uppercase;

				div {
					transition:background 0.2s ease;
					transition:color 0.2s ease;
					transition:opacity 0.2s ease;
					font-size:16px;
					color:#fff;
					padding:14px 20px;
					background:#000;

					&:hover {
						background:#777;
					}
				}

				&:not(:last-child) {
					margin-right:10px;
				}
			}
		}
	}
}

#bookings {
	.booking-date-wrapper {
		font-size:22px;

		&:not(:last-child) {
			margin-bottom:26px;
		}

		.booking-name {
			text-transform:uppercase;
		}

		.booking-callouts {
			margin-top:6px;

			.booking-callout {
				div {
					display:inline-block;
					transition:background 0.2s ease;
					transition:color 0.2s ease;
					transition:opacity 0.2s ease;
					font-size:14px;
					color:#fff;
					padding:4px 14px;
					background:#000;

					&:hover {
						background:#777;
					}
				}

				&:not(:last-child) {
					margin-right:8px;
				}
			}
		}
	}
}