$navbar-height: 40px;

#nav-bar {
	width:100%;

	.content {
		padding:12px;
		overflow:hidden;

		&.main-nav {
			position:absolute;
			top:0px;
			width:calc(100% - 24px);
			height:auto;
			z-index:5;
		}

		&.overlay-nav {
			position:fixed;
			width:calc(100% - 24px);
			height:auto;
			background:rgba(0,0,0,0.7);
			z-index:4;
			transition:opacity 0.3s ease;

			&.overlay-show {
				opacity:1;
			}

			&.overlay-hide {
				opacity:0;
			}
		}
	}

	.icon {
		float:left;
		
		div {
			color:#fff;
			width:$navbar-height;
			line-height:$navbar-height;
			text-align:center;
			font-size:22px;
		}

		img {
			vertical-align:top;
			width:$navbar-height;
			height:$navbar-height;
		}
	}

	.nav {
		float:right;
		height:$navbar-height;
	
		.pill-anchor {
			cursor:pointer;
			
			&:not(:last-child) {
				margin-right:12px;
			}
			&:last-child {
				margin-left:12px;
			}
		}

		.pill {
			opacity:0.8;
			line-height:$navbar-height;
			text-transform:uppercase;
			width:auto;
			height:auto;
			display:inline-block;

			font-size:12px;
			color:#fff;

			transition:color 0.2s ease;
			text-decoration:none;
			color:#eee;
			&:hover {
				color:#fff;
			}
		}

		.vertical-divider {
			font-size:14px;
			color:#999;
			line-height:$navbar-height;
		}
	}
}